<ion-view view-title="Opciones" cache-view="true">
    
  <ion-content>
  

   <ion-list>

        <!--Categoria CIUDAD -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/ciudad" >
             <img ng-src="img/ciudades.png">
             <h2>Estados</h2>
             <p>Selecciona tu estado</p>
          </ion-item>


        <!--Categoria NUMEROS -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/fastNumber">
             <img ng-src="img/numerosrapidos.png">
             <h2>Números rápidos Nayarit</h2>
             <p></p>
          </ion-item>


          <!--Categoria trabajo -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="">
             <img ng-src="img/trabajo.png">
             <h2>Bolsa de trabajo</h2>
             <p>Próximamente</p>
          </ion-item>

          <!--Categoria ABOUT -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/about">
             <img ng-src="img/acercade.png">
             <h2>Acerca de...</h2>
          </ion-item>
        

        </ion-list>
   
   </ion-content>
   
</ion-view>