<ion-view view-title="Categorias" cache-view="true">
    <ion-content>
	   <ion-list>

          <ion-item 
             class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/premium">
             <img ng-src="img/premium.png">
             <h2>Premium</h2>
             <p>Empresas Destacadas</p>
          </ion-item>

          <ion-item 
             class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/buscar">
             <img ng-src="img/buscar.png">
             <h2>Buscar</h2>
             <p>Busca una empresa</p>
          </ion-item>

        <!--Categoria Antros -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/categorias/1">
             <img ng-src="img/antros.png">
             <h2>Antros</h2>
             <p></p>
          </ion-item>
      
        <!--Categoria Bares -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/categorias/2" >
             <img ng-src="img/bares.png">
             <h2>Bares</h2>
             <p></p>
          </ion-item>


        <!--Categoria Restaurantes -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/categorias/3">
             <img ng-src="img/restaurantes.png">
             <h2>Restaurantes</h2>
             <p></p>
          </ion-item>

          <!--Categoria Otros -->
          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/categorias/4">
             <img ng-src="img/otros.png">
             <h2>Otros</h2>
             <p></p>
          </ion-item>
        

        </ion-list>
    </ion-content>
</ion-view>
