<ion-view view-title="" cache-view="true">

<ion-content> 
 <div class="list card" ng-repeat="item in empresa">
  <div class="item item-divider text-center">
    {{item.nombre}}
  </div>
  <div class="item item-body">
    <img class="full-image img-circle" ng-src="http://www.newdifusion.com/androidDevelopers/system/{{item.carpeta}}/img/profile.png?{{dato}}" ng-click="showImagesProfile()">
    <p class="text-center">{{item.descripcion}}</p>
  </div>

        <ion-item 
            class="item item-thumbnail-left item-text-wrap">
             <img ng-src="img/address.png">
             <h2>Domicilio</h2>
             <p>{{item.domicilio}}</p>

          </ion-item>

          <ion-item 
            class="item item-thumbnail-left item-text-wrap">
             <img ng-src="img/shedule.png">
             <h2>Horario</h2>
             <p>De {{abierto}} a {{cerrado}}</p>
             <p>{{dias}}</p>
          </ion-item>

          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="tel:{{item.telefono}}" >
             <img ng-src="img/phone.png">
             <h2>Teléfono</h2>
             <h3>{{item.telefono | tel}}</h3>
          </ion-item>

          <ion-item 
            class="item item-thumbnail-left item-text-wrap" 
             ng-href="#/tab/galeria_momento/{{item.idempresa}}" >
             <img ng-src="img/galeria.png">
             <h2>Galería</h2>
          </ion-item>

</div>


<div class="list card" ng-repeat="dato in items">

  <div class="item item-avatar-right">
    <img src="http://www.newdifusion.com/androidDevelopers/system/{{dato.carpeta}}/img/profile.png?{{dato}}">
    <h2>{{dato.nombre}}</h2>
    <p>Publicado {{dato.fechaPublicacion}}</p>
  </div>

  <div class="item item-body">
   <img ng-if="dato.imagenM" ng-click="showImages(dato.carpeta,dato.imagenM)" class="full-image" src="http://www.newdifusion.com/androidDevelopers/system/{{dato.carpeta}}/momento/{{dato.imagenM}}">
    <p>{{dato.descripcionM}}</p>
    <p>
      <a  class="subdued">{{dato.likeCount}} Me gusta</a>
      <a  class="subdued">{{dato.contador}} Comentarios</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left tabs-stable">
    <a class="tab-item" ng-click="like($index,{{dato.idmomento}})">
    <i class="icon ion-happy {{dato.color}}"></i>
      Me gusta
    </a>
    <a class="tab-item" ng-click="openModalComentarios($index,{{dato.idmomento}})">
      <i class="icon ion-chatbox"></i>
      Comentar
    </a>
    <a class="tab-item" ng-click="compartir(dato.descripcionM, dato.carpeta,dato.imagenM)">
      <i class="icon ion-share"></i>
      Compartir
    </a>
  </div>
</div>
  <ion-infinite-scroll on-infinite="loadMore()" 
    distance="5%"
    ng-if="moreDataCanBeLoaded()">
  </ion-infinite-scroll> 
</ion-content>
</ion-view>